streamlit==1.16.0
pandas==1.4.2
numpy==1.22.3
matplotlib==3.5.1
nltk==3.7
google-play-scraper==1.2.0
streamlit-option-menu==0.3.2
Sastrawi==1.2.0
scikit-learn==1.0.2
Pillow==9.1.0
joblib==1.1.0